.grid-container {
  display: grid;
  grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
  grid-template-rows: auto;
  grid-gap: 1px 1px;
}

.next-container {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1px 1px;
}